{{ partial "header.html" . }}

<div id="monitoring" class="activity page">
  <header class="colorized">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12 col-sm-12">
          <hr class="">
          <!-- <label class="label">activity</label> -->
          <h1 class="title">{{ .Title }}</h1>
          <hr>
        </div>
      </div>
    </div>
  </header>
  <div class="container content">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-xs-12">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
