@import "containers/App";
@import "containers/Collection";
@import "containers/Home";
@import "containers/User";

.page {
  margin-top: 2.5rem;
  margin-bottom: 10em;
  header {
    padding-bottom: 2em;
    margin-bottom: 2em;
  }
}