{{ partial "header.html" . }}
<div id="home" class="page">
  <div class="masthead">
    <img class="left-lines hidden-sm-down" src="https://s3.amazonaws.com/datatogether/svg/lines_left.svg">
    <h1 class="tagline">{{ .Params.tagline }}</h1>
    <img class="right-lines hidden-sm-down" src="https://s3.amazonaws.com/datatogether/svg/lines_right.svg">
    <div class="clear"></div>
  </div>
  {{ .Content }}
</div>
<!-- {{ range .Data.Pages.ByPublishDate }}
    {{ if eq .Section "blog" }}
        {{ partial "blog-item.html" . }}
    {{ end }}
{{ end }} -->
{{ partial "footer.html" . }}
