#home {
  margin: 2em 0 0 0;
  padding-bottom: 0;

  .masthead {
    // background: top center url("https://s3.us-east-2.amazonaws.com/static.archivers.space/clouds.png") repeat-x;
    background-image: url("/png/clouds_background.png");
    background-color: white;
    background-position-x: center;
    background-position-y: -8em, top;
    background-repeat: repeat-x;
    padding-top: 100px;
    min-height: 650px;
    position: relative;
    .tagline {
      text-align: center;
      color: $magenta;
      margin: 2em auto 0 auto;
      max-width: 60%;
      font-size: 3em;
      line-height: 1.45em;
    }
    img {
      width: 100%;
      max-width: 1200px;
      margin: 6em 0 0 auto;
      display: block;
    }
  }

  section {
    margin-top: 4em;
    margin-bottom: 4em;
  }

  .image.metadata {
    img {
      max-width: 300px;
    }
  }
}

@media screen and (max-width: 480px) {
  #home {
    padding-bottom: 3em;
    
    .masthead {
      padding-top: 50px;
      min-height: 100%;

      .tagline {
        margin: 2em auto 2em auto;
        max-width: 100%;
      }
    }
    // .image {
    //   width: 80%;
    //   margin: 0 auto;
    //   img {
    //     width: 100%;
    //   }
    // }
  }
}